.container {
  width: 100%;
  max-width: 1200px; /* To limit maximum width on large screens */
  margin: 0 auto; /* Center the container */
}

/* For smaller screens (e.g., tablets and below) */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .logo {
    font-size: 20px;
  }

  .App-header {
    font-size: calc(8px + 2vmin); /* Adjust based on smaller screens */
    padding: 20px;
  }
}

/* For medium to large screens (e.g., desktops) */
@media (min-width: 992px) {
  .container {
    width: 80%;
  }

  .logo {
    font-size: 30px;
  }
}

/* Universal App Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); /* Adjust based on screen size */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");
